<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Receptura</title>
    <!-- CSS only -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<div class="container ">
    <div class="row justify-content-center">
        <div class="center text-center">
    <h2>Receptura</h2>
    <hr/>
    <table class="table table-bordered table-striped table-responsive" id="recipe-Table">
        <thead >
        <tr>
        <th style="width: auto; height: auto; text-align: center">Numer receptury</th>
        <th style="width: auto; height: auto; text-align: center">Nazwa receptury</th>
        <th style="width: auto; height: auto; text-align: center">Typ piwa</th>
        <th style="width: auto; height: auto; text-align: center">Data utworzenia</th>
        <th style="width: auto; height: auto; text-align: center">Objętość [Litry]</th>
        <th style="width: auto; height: auto; text-align: center">Ekstrakt [Plato]</th>
        <th style="width: auto; height: auto; text-align: center">Działanie</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe: ${recipe}" style="width: auto; height: auto; text-align: center">
            <td th:text="${recipe.numRec}"></td>
            <td th:text="${recipe.nameRec}"></td>
            <td th:text="${recipe.type}"></td>
            <td th:text="${recipe.created}"></td>
            <td th:text="${recipe.resultAmount}"></td>
            <td th:text="${recipe.resultExtract}"></td>
            <td>
                <a th:href="@{/editRecipe/__${recipe.id}__}" class="btn btn-info">Popraw Recepturę</a>
                <a th:href="@{/deleteRecipe/__${recipe.id}__/}" class="btn btn-danger ml-2">Usuń Recepturę</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</div>
</div>

<div class="container ">
    <div class="row justify-content-center">
        <div class="center text-center">
    <h2>Składniki</h2>
    <a th:href="@{/addIngredient/__${recipeId}__}" class="btn btn-info">Dodaj składnik</a>
    <hr>



    <table class="table table-bordered table-striped table-responsive" id="raw-Table">
        <thead >
        <tr>
        <th style="width: auto; height: auto; text-align: center">Typ surowca</th>
        <th style="width: auto; height: auto; text-align: center">Nazwa surowca</th>
        <th style="width: auto; height: auto; text-align: center">Ilość surowca</th>
        <th style="width: auto; height: auto; text-align: center">Jednostka miary</th>
        <th style="width: auto; height: auto; text-align: center">Działanie</th>
        </tr>
        </thead>
        <tbody>
    <tr th:each="in: ${ingredient}" style="width: auto; height: auto; text-align: center">
        <td th:text="${in.raw.type}"></td>
        <td th:text="${in.raw.name}"></td>
        <td th:text="${in.amount}"></td>
        <td th:text="${in.raw.unitMeasure}"></td>
        <td>
            <a th:href="@{/deleteIngredient/__${in.id}__/__${recipeId}__}" class="btn btn-danger ml-2">Usuń Składnik</a>
        </td>
    </tr>
        </tbody>
    </table>
    <hr/>

    <a th:href="@{/createProduct/__${recipe.id}__}" class="btn btn-info">Wytwórz produkt</a>

</div>
</div>
</div>
<hr/>

<a th:href="@{/recipes}" class="btn">Wróć listy do receptur</a>
</tbody>
</html>